.orderBox{
    padding: 0px 10px;
    

}
.orderBox h1
{
    font-size: 15px;
    font-weight: bold;
}
.orderBox img{
    width:100% ;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}
.orderBox{
    
    font-size: 18px;
    margin-top: 20px;
}
.buybtn
{
    
    color:#000;
    background-color: var(--primary-color);
    padding: 10px 10px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
.d-flex button{
    color: #000;


}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: var(--primary-color);
}
