<div class="container mt-5 mb-5">
    
    <div class="row">
        
        <div class="col-lg-6" *ngIf= "menuData">
                <img src="{{menuData[0].mechimg}}" >
                <h1>{{menuData[0].MechanicName}}</h1>
                <p>{{menuData[0].Experties}}</p>
                <p>{{menuData[0].Address}}</p>
                <p>{{menuData[0].Ratings}}</p>
                <p>{{menuData[0].MechanicName}}</p>
        </div>

        <div class="col-lg-6">
            <form >
                
                <div class="input-group mb-3">
                    <span class="input-group-text" id="name">Full Name</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Enter Name">

                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupSelect01">Categroize</label>
                    <select class="form-select" id="inputGroupSelect01">
                      <option selected>Car</option>
                      <option value="1">Bike</option>
                      <option value="2">Others</option>
                    </select>
                </div>
                
                <div class="input-group mb-3">
                    <span class="input-group-text" id="address">Address</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Address">
                </div>
                
                <div class="input-group mb-3">
                    <span class="input-group-text" id="phonenum">Phone Number</span>
                    <input type="tel" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="email">email</span>
                    <input type="tel" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="Date">Date of the appointment</span>
                    <input type="tel" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="pt-1 mb-2 ">
                    <button class="btn btn-dark btn-lg " type="submit" >Submit </button>
                  </div>
            </form>
        </div>
    </div>

</div>
