<div class="page-content page-container ">
<div class="profile">
<div class="container mt-1 d-flex justify-content-center">

    <div class="card1 p-1">

        <div class="d-flex align-items-center">

            <div class="image">
        <img src="" class="rounded" width="155" >
        </div>

        <div class="ml-3 w-100">
            
           <h4 class="mb-0 mt-0">Jhon Doe</h4>
           <span>Car mechanics</span>

           <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">

            <div class="d-flex flex-column">

                <span class="articles"></span>
                <span class="number1"></span>
                
            </div>

            <div class="d-flex flex-column">

                <span class="followers">Ratings</span>
                <span class="number2">8/10</span>
                
            </div>


            <div class="d-flex flex-column">

                <span class="rating">Expertise</span>
                <span class="number3">Car</span>
                
            </div>
               
           </div>

        </div>

            
        </div>
        
    </div>
</div>  
 </div>
 <div class="chat">
 <div class="col-md-6">
    <div class="card card-bordered">
        <div class="card-header">
            <h4 class="card-title"><strong>Contact</strong></h4>
        </div>

        <div  class="ps-container ps-theme-default ps-active-y" id="chat-content" style="overflow-y: scroll !important; height:400px !important;"  >
           
            <div class ="chatbox"*ngFor="let message of messageList">
                <li>
                    {{message}}
                </li>
              </div>
            <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
               <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;">
               </div>

        
            </div>
          
        </div>
        
        <div  class="ps-scrollbar-y-rail" style="top: 0px; height: 0px; right: 2px;">
            <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 2px;">
            </div>
        </div>
    </div>
    <div class="publisher bt-1 border-light">
        <img class="avatar avatar-xs" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="...">
        <input class="publisher-input"  placeholder="Write something" [(ngModel)]="newMessage" (keyup)="$event.keyCode == 13 && sendMessage()" >
        <button class="btn btn-s btn-secondary" (click)="sendMessage()">Send Message</button>
    </div>
  </div>

  </div>
</div>